.grid-item {
    width: 22%;
    max-width: 300px;
    padding: 10px;
    overflow: hidden;
}

.grid-item-li:hover {
    background-color: #3ed7e4;
}

.grid-item-li {
    list-style: none;
}

.thumbnail {
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    max-width: 100%;
    min-width: 100%;
    vertical-align: top;
}

.thumbnail:hover {
    opacity: 0.6;
}

ul, menu, dir {
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-padding-start: 0 !important;
}

/*==========================================*/
/*             МОДАЛЬНОЕ ОКНО               */
/*==========================================*/



.lightbox {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    padding-bottom: 100px;/* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity *!*/
}

.lightbox-content {
    margin: auto;
    display: block;
    height: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    height: 150px;
    font-size: 15px;
}

/* Add Animation - Zoom in the Modal */
.lightboxContent, .caption {
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)}
    to {-webkit-transform:scale(1);transform:scale(1)}
}

@keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)}
    to {-webkit-transform:scale(1);transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 25px;
    margin-top: -50px;
    color: white;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: #bbb;
}

/*=====================================*/
/* МЕДИА-ЗАПРОСЫ
/*=====================================*/

@media only all and (max-width: 1025px) {
    .grid-item {
        width: 30%;
        max-width: 200px;
        padding: 7px;
    }

    .lightbox {
        padding: 50px 0;
    }


}

@media only all and (max-width: 981px) {
    .grid-item {
        width: 45%;
        max-width: 300px;
        padding: 7px;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        width: 85%;
        margin: 0 auto !important;
    }

    .lightbox {
        background-color: white;
        padding: 0;
    }

    .lightbox-content {
        height: auto;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .prev,
    .next,
    .close, .caption {
        color: #7d7d7d;
    }

    .caption {
        display: none;
    }
}

@media only all and (max-width: 481px) {
    .prev,
    .next {
        display: none;
    }

    .lightbox-content {
        width: 90%;
    }
}

@media only all and (max-width: 376px) {
    .grid-item {
        width: 100%;
        max-width: 100%;
        padding: 0 0 5px 0;
    }
}